name: CMake + Vcpkg + Ninja on Ubuntu and Windows

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ${{ matrix.os }}

    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-latest, windows-latest]

    steps:
    - uses: lukka/get-cmake@latest
    - name: Setup vcpkg
      uses: lukka/run-vcpkg@v11
      with:
        runVcpkgInstall: true
        vcpkgJsonGlob: "./vcpkg.json"
    - name: Run CMake
      uses: lukka/run-cmake@v10
      with:
        configurePreset: "ninja-multi-vcpkg"
        buildPreset: "ninja-multi-vcpkg"
