name: CMake + Vcpkg + Ninja on Windows

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os: [windows-latest]
    steps:
    - name: Checkout repository
      uses: actions/checkout@v4
      with:
        fetch-depth: 0
        submodules: recursive

    - name: Cache vcpkg
      uses: actions/cache@v4
      with:
        path: |
          ${{ github.workspace }}/vcpkg/installed
          ${{ github.workspace }}/vcpkg/packages
          ${{ github.workspace }}/vcpkg/archives
          ${{ github.workspace }}/vcpkg/buildtrees
          ${{ github.workspace }}/vcpkg/downloads
          ${{ github.workspace }}/vcpkg/vcpkg
        key: vcpkg-${{ runner.os }}-${{ hashFiles('vcpkg.json') }}
        restore-keys: |
          vcpkg-${{ runner.os }}-


    - uses: lukka/get-cmake@latest
    
    - name: Install dependencies
      if: runner.os == 'Linux'
      run: sudo apt-get update && sudo apt-get install -y libx11-dev libxrandr-dev libxinerama-dev libxcursor-dev libxi-dev
    
    - name: Setup vcpkg
      uses: lukka/run-vcpkg@v11
      with:
        runVcpkgInstall: true
        vcpkgJsonGlob: "./vcpkg.json"
    
    - name: Run CMake
      uses: lukka/run-cmake@v10
      with:
        configurePreset: "ninja-multi-vcpkg"
        buildPreset: "release"

    - name: Create zip archive
      shell: pwsh
      run: |
        $releaseDir = "${{ github.workspace }}\builds\ninja-multi-vcpkg\Release"
        $zipPath = Join-Path $releaseDir "ion-latest.zip"

        if (Test-Path $zipPath) {
          Remove-Item $zipPath -Force
        }
        $patterns = @("ion.exe","*.dll")
        $files = @()
        foreach ($p in $patterns) {
          $files += Get-ChildItem -Path $releaseDir -Filter $p -File -Recurse -ErrorAction SilentlyContinue
        }

        if ($files.Count -eq 0) {
          Write-Host "No files found to compress in $releaseDir"
          exit 1
        }
        
        Compress-Archive -Path ($files | Select-Object -ExpandProperty FullName) -DestinationPath $zipPath -Force

    - name: Release built file
      uses: "marvinpinto/action-automatic-releases@latest"
      with:
        repo_token: "${{ secrets.GH_TOKEN }}"
        automatic_release_tag: "latest"
        prerelease: true
        title: "Pre-release build"
        files: |
          builds/ninja-multi-vcpkg/Release/ion-latest.zip
